#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar {
    width: 60vw;
    padding: 0 5vw 0 5vw;
    margin-top: 5vh;
    min-height: 10vh;
    border: 2px solid red;
    border-radius: 5px;
}

.calculator {
    display: flex;
    justify-content: space-between;
}

.needed {
    margin-top: 1em;
}

.var-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-bar {
    justify-content: center;
}

.var-item {
    display: flex;
    flex-direction: column;
}

.var-item-label > label {
    margin-right: 5px;
}

.var-item-label > button {
    font-size: .8em;
    border-radius: 5px;
}

.input-wrapper > input {
    width: 40%;
    margin-right: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="number"] {
    -moz-appearance: textfield;
 }